@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root{
    --principal : #0A192F;
    --secundario : #0f4c81;
    --degradado:linear-gradient(90deg, var(--principal), var(--secundario));
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

html{
    font-size: 62.4%;
    overflow: hidden;
}
body{
   background: url(./fondo.jpg) no-repeat;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
}
 img{
    width: 15vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0f4c81;
    box-shadow: 0 .5rem 1rem;
    padding: 2rem 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
    font-size: 3rem;
    color: #fffffa;
}
header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: #fffffa;
}
header .navbar a:hover{
    color: var(--principal);
} 

